In [1]:
%pip install pandas
%pip install faker

Requirement already satisfied: pandas in ./.venv/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in ./.venv/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in ./.venv/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in ./.venv/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: faker in ./.venv/lib/python3.7/site-packages (4.0.1)
Requirement already satisfied: python-dateutil>=2.4 in ./.venv/lib/python3.7/site-packages (from faker) (2.8.1)
Requirement already satisfied: text-unidecode==1.3 in ./.venv/lib/python3.7/site-packages (from faker) (1.3)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.7/site-packages (from python-dateutil>=2.4->faker) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd
import customers
import io

In [15]:
customer_data = io.StringIO(customers.csv_data())

df = pd.read_csv(customer_data)

In [16]:
df

,Order Number,Order Date,Inventory Number,Unit Price,Units,Ship Date,Name,Address,Email,Phone Number,Date of Birth
0,14-8184,2020-03-06,UP30-ER0,905.06,8,0,Marco Holt,USS Mendez\nFPO AP 67125,boydjasmineyahoo.com,+1-812-382-4880x83516,1907-07-23
1,44-0488,2020-03-04,KB51-TX0,98.34,8,0,Holly Mcdonald,"26549 Brooks Causeway\nAdamsberg, IN 39262",nperkins4hotmail.com,812.631.6262x193,1938-11-01
2,33-2551,2020-03-01,XO55-SO9,839.38,7,2020-03-23,James Lewis,83593 Jeffrey Mills Apt. 599\nSouth Jameshaven...,renee331yahoo.com,3731604236,1954-08-25
3,94-7584,2020-03-01,NP73-KX5,93.17,7,2020-03-20,Erin Soto,"5874 Adam Plaza Apt. 556\nEast Stevenfort, TX ...",eric873yahoo.com,+1-696-353-3618x53011,1981-09-25
4,95-0555,2020-03-05,AU80-HA6,242.05,5,0,Eric Jennings,"57437 Kevin Drive Apt. 246\nAndersonfort, CO 9...",georgeheatherwatkins.com,+1-072-849-7189x5455,1918-08-27
5,11-0130,2020-03-04,EA00-NB1,540.65,4,2020-03-23,Brett Stone,"591 Woods Land\nJoyceport, VA 38453",edwardjones6soto.info,008-556-2911x98345,2002-10-09
6,65-2378,2020-03-02,GQ80-AJ8,977.11,6,0,Natalie Smith,"9738 Cynthia Square\nBrandonfurt, MO 54551",hernandezpaul7mitchell.com,095-298-5219x8761,1994-11-16
7,80-7773,2020-03-01,YI25-IE9,144.42,7,0,Jerome Hawkins,"9764 Ruiz Forges\nPort Catherinefurt, MD 65878",mendezjoemccarthy.com,334.893.5880x47502,1991-10-27
8,34-5063,2020-03-05,TK87-PW5,482.62,7,0,Jesse Curtis,4822 Berry Mountain Suite 055\nPort Matthewber...,nobleruben7gmail.com,3090477047,1915-02-25
9,29-9697,2020-03-01,EN86-NO7,39.55,3,0,Bruce Williams,"368 Garcia Mountain\nAmandaborough, WI 28866",lindsey098faulkner.com,846.936.7333,2012-09-20

In [5]:
df.columns

Index(['Order Number', 'Order Date', 'Inventory Number', 'Unit Price', 'Units',
       'Ship Date', 'Name', 'Address', 'Email', 'Phone Number',
       'Date of Birth'],
      dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [7]:
df.describe()

       Unit Price      Units
count   10.000000  10.000000
mean   295.883000   6.600000
std    365.912228   3.627059
min      1.480000   1.000000
25%     31.995000   3.000000
50%     82.970000   8.000000
75%    463.705000   9.750000
max    932.070000  10.000000

In [8]:
df.head(2)

,Order Number,Order Date,Inventory Number,Unit Price,Units,Ship Date,Name,Address,Email,Phone Number,Date of Birth
0,85-5252,2020-03-08,YM24-QT9,490.40,10,0,Micheal Christensen,"953 Stacie Ways\nNew Cynthiaside, MA 25648",lmathisgmail.com,+1-448-758-9303x608,1961-08-22
1,86-5182,2020-03-08,DP58-JD5,1.48,2,0,Erin Flores,"43242 Davis Viaduct\nEast Stevenhaven, MT 54547",wallerdavid7ramos.net,(625)207-0066x1807,1986-03-04

In [9]:
df.tail(2)

,Order Number,Order Date,Inventory Number,Unit Price,Units,Ship Date,Name,Address,Email,Phone Number,Date of Birth
8,81-4105,2020-03-03,UJ04-JX2,29.69,10,0,Sabrina Mccoy,"925 Valerie Terrace\nGaryberg, MT 28836",ilopezmckee.biz,856-307-4378x28373,1920-08-29
9,76-1975,2020-03-01,CD68-HB9,932.07,1,0,Michael Gamble,"58043 Barrett Roads Suite 961\nPort Mariah, VT...",jmartin9martin.biz,895.826.0861x6160,1927-11-17

In [12]:
df['Total'] = df['Unit Price'] * df['Units']

In [13]:
df

,Order Number,Order Date,Inventory Number,Unit Price,Units,Ship Date,Name,Address,Email,Phone Number,Date of Birth,Total
0,85-5252,2020-03-08,YM24-QT9,490.40,10,0,Micheal Christensen,"953 Stacie Ways\nNew Cynthiaside, MA 25648",lmathisgmail.com,+1-448-758-9303x608,1961-08-22,4904.00
1,86-5182,2020-03-08,DP58-JD5,1.48,2,0,Erin Flores,"43242 Davis Viaduct\nEast Stevenhaven, MT 54547",wallerdavid7ramos.net,(625)207-0066x1807,1986-03-04,2.96
2,15-4811,2020-03-06,DR34-JE5,18.06,9,0,Phillip King,"89970 Stone Parkway Apt. 257\nRitastad, SD 98148",patricianorrisyahoo.com,(129)518-3758x6306,1988-04-22,162.54
3,57-3604,2020-03-09,MJ77-XR2,82.38,2,0,Jesse Patterson,"8074 Duncan Pass Apt. 463\nWilliamsfort, VT 64269",waltersdaniel3morrison.org,(978)826-2363,1920-04-27,164.76
4,69-8884,2020-03-05,UX47-CN7,83.56,6,2020-03-22,Stacey Johns,Unit 9720 Box 8119\nDPO AA 84398,crystalhamilton7evans.org,047-729-5660x169,2017-07-03,501.36
5,41-7012,2020-03-08,VV47-NH9,898.66,8,0,Ms. Tricia Bauer,"66868 James Heights Suite 677\nNicholston, PA ...",andrewwhite1yahoo.com,031-757-4964x78993,1946-02-01,7189.28
6,61-5691,2020-03-02,ZS93-OU8,38.91,10,0,Diane Wells,"4707 Victor Pines\nLeborough, ND 87158",simsjessicahotmail.com,750-043-5728x028,1941-03-26,389.10
7,98-7732,2020-03-08,SL16-LY2,383.62,8,0,Amanda Leon,"8667 Joel Well Apt. 094\nRodriguezmouth, MD 22751",deleonchristopherlopez-barrett.net,2557727728,1932-05-20,3068.96
8,81-4105,2020-03-03,UJ04-JX2,29.69,10,0,Sabrina Mccoy,"925 Valerie Terrace\nGaryberg, MT 28836",ilopezmckee.biz,856-307-4378x28373,1920-08-29,296.90
9,76-1975,2020-03-01,CD68-HB9,932.07,1,0,Michael Gamble,"58043 Barrett Roads Suite 961\nPort Mariah, VT...",jmartin9martin.biz,895.826.0861x6160,1927-11-17,932.07